<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebTools</title>
    <!-- Plugins -->
    @await Html.PartialAsync("_Plugins_Styles")
    <!-- DataTables -->
    @await Html.PartialAsync("_Datatable_Styles")
    <!-- EasyUI -->
    @await Html.PartialAsync("_EasyUI_Styles")
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/loading.css">
    <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/site_default.css">

    <style>
        .narh-50 {
            height: 50px;
        }
    </style>
</head>
<body class="control-sidebar-slide-open layout-navbar-fixed sidebar-collapse">
    <div class="wrapper">
        @if (User.Identity.IsAuthenticated)
        {
            <header>
                <nav class="main-header navbar navbar-expand navbar-dark border-bottom-0 narh-50">
                    <ul class="navbar-nav narh-50">
                        <li class="nav-item narh-50">
                            <a class="navbar-brand" role="button" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/images/logo_compact_white_200x200.png" width="38" height="38" style="vertical-align: middle;" alt="">
                            </a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block narh-50">
                            <a class="nav-link narh-50" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block narh-50">
                            <a class="nav-link narh-50" asp-area="" asp-controller="Report" asp-action="Index">Quản lý biểu mẫu</a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block narh-50">
                            <a class="nav-link narh-50" data-toggle="ajax-modal" data-target="#GopY-0" data-url="GopY/Index">Góp ý</a>

                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown dropdown-hover narh-50">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Văn bản (Test)</a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                    <li><a asp-area="" asp-controller="VanBan" asp-action="DanhMuc_VanBan" class="dropdown-item">Bảng tin văn bản</a></li>
                                    <li><a asp-area="" asp-controller="Preview" asp-action="VanBan" class="dropdown-item">Preview Văn bản</a></li>
                                </ul>
                            </li>
                            @*dropdown-hover*@
                            <li class="nav-item dropdown dropdown-hover narh-50">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Phân quyền</a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                    <li><a asp-area="" asp-controller="Permission" asp-action="Users" class="dropdown-item">Tài khoản người dùng </a></li>
                                    <li><a asp-area="" asp-controller="Permission" asp-action="Roles" class="dropdown-item">Vai trò hệ thống</a></li>
                                    @*<li><a asp-area="" asp-controller="Permission" asp-action="ModuleController" class="dropdown-item">ModuleControllers</a></li>
                                    <li><a asp-area="" asp-controller="Permission" asp-action="ModuleAction" class="dropdown-item">ModuleActions</a></li>*@
                                </ul>
                            </li>
                        }

                    </ul>
                    <ul class="navbar-nav ml-auto narh-50">
                        <li class="nav-item narh-50">
                            <partial name="_LoginStatusPartial" />
                        </li>
                    </ul>
                </nav>
            </header>
            <div class="content-wrapper">
                @RenderBody()
            </div>
            <div class="modal"><!-- Place at bottom of page --></div>
            <div id="GopYPopup"></div>
        }
        <!-- Plugins -->
        @await Html.PartialAsync("_Plugins_Scripts")
        <!-- DataTables -->
        @await Html.PartialAsync("_Datatable_Scripts")
        <!-- EasyUI -->
        @await Html.PartialAsync("_EasyUI_Scripts")
        <!-- AdminLTE App -->
        <script src="~/lib/admin-lte/js/adminlte.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script type="text/javascript">
            $('body').on('click', 'a[data-toggle="ajax-modal"]', function (event) {
                var url = $(this).data('url');
                var ReportPopupElement = $('#GopYPopup');
                $.ajax({
                    url: url,
                    dataType: 'html',
                    success: function (data) {
                        $("body").find(".modal-backdrop").remove();
                        ReportPopupElement.html(data);
                        ReportPopupElement.find('.modal').modal('show');
                    }, error: function (xhr, status) {
                        switch (status) {
                            case 404:
                                $(this).callToast("error", 'Lỗi!', 'Đường dẫn không đúng hoặc tính năng không tồn tại!');
                                break;
                            case 500:
                                $(this).callToast("error", 'Lỗi!', 'Không kết nối được tới Server!');
                                break;
                            case 0:
                                $(this).callToast("error", 'Lỗi!', 'Hệ thống không phản hồi!');
                                break;
                            default:
                                $(this).callToast("error", 'Lỗi!', 'Sự cố không xác định! Lỗi: ' + status);
                        }
                    }
                });
            });
        </script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
