@using WebTools.Models
@model DocumentViewModel
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="@Model.FileName" aria-hidden="true" id="documentview">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-file-alt"></i> Đang xem file: @Model.FileName</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <script>
                  function resizeIframe(obj) {
                    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
                  }
                </script>
                <iframe src="@Url.Action("DocumentView", "Report", new {link =  Model.IDPhienBan}, Context.Request.Scheme, null)" title="preview" style="width:100%;" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>